<div class="container containerxtra">
 	<div class="row">
    	<div class="col-md-10 offset-md-2 lead marginBottom">
			<h1>ADMIN PAGE</h1>
			<%  if (Users.length === 0) { %>
			  <p><br />
			    Encara no hi ha Users registrats
			  </p>
			<% } else {%> 
			  <table class="table table-hover">
			    <thead>
			      <tr id="adminRow" class="row m-0">
			        <th class="d-inline-block col-1">Núm.</th>
			        <th class="d-inline-block col-6">Cognoms i nom</th>
			        <th class="d-inline-block col-3">Escola</th>
			        <th class="d-inline-block col-2">Mestre</th>
			        
			      </tr>
			    </thead>
			    <tbody>
			    <% var i;
			    	for (i=0; i < Users.length; i++) {
			    %>

			    <tr class="row m-0">
			      <td class="d-inline-block col-1"><%=i+1%></td>
			      <td class="d-inline-block col-6"><%=Users[i].cognom + ", " + Users[i].nom%></td>
			      <td class="d-inline-block col-3"><%=Users[i].centre.nom%></td>
			      <td class="d-inline-block col-2"><%=Users[i].mestre%></td>
			      
			  </tr>
			  <%}%>
			</tbody></table>
<%}%>
		</div>
	</div>
</div>