<div class="container containerxtra">
 	<div class="row">
    	<div class="col-md-10 offset-md-2 lead marginBottom">
			<h1>ADMIN PAGE</h1>
			<div class="col-4">
				<div class="col-6">
					Usuaris
				</div>
				<div class="col-6">
					<%  if (Users.length === 0) { %>
						Encara no hi ha Users registrats
					<% } else {%>
						<%=Users.length%>
					<%}%> 
				</div>
			</div>
		</div>
	</div>
</div>