<div class="container containerxtra">
 	<div class="row">
    	<div class="col-md-10 offset-md-2 lead marginBottom">
			<h1>ADMIN PAGE</h1>
			<div class="col-md-4">
				<div class="col-4 pull-left">
					<strong>Usuaris:</strong>
				</div>
				<div class="col-6 pull-right">
					<%  if (Users.length === 0) { %>
						Encara no hi ha usuaris registrats
					<% } else {%>
						<%=Users.length%>
					<%}%> 
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-4 pull-left">
					<strong>Centres:</strong>
				</div>
				<div class="col-6 pull-right">
					<%  if (Users.length === 0) { %>
						Encara no hi ha centres registrats
					<% } else {%>
						<%=Centres.length%>
					<%}%> 
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-4 pull-left">
					<strong>Alumnes:</strong>
				</div>
				<div class="col-6 pull-right">
					<%  if (Users.length === 0) { %>
						Encara no hi ha alumnes registrats
					<% } else {%>
						<%=Alumnes.length%>
					<%}%> 
				</div>
			</div>
			<div class="col-md-4">
				<button type="button" class="btn btn-success mx-auto" href="/canvi-curs" disabled>Canvi de curs</button>
			</div>
		</div>
	</div>
</div>