<div class="container containerxtra">
 	<div class="row">
 		<div class="col-md-12 lead titleHome"><strong>Com funciona?</strong></div>
	    <div class="col-md-12 lead marginBottom">
	      És molt fàcil, primer de tot ens hem de registrar a l'aplicació. Per fer-ho primer hem de clicar a la barra superior, allà on posa "Entra". Llavors se'ns obrirà una finestra on clicarem a "Registrar-me" i introduirem les dades que ens demana.
	      A partir d'ara ja podem accedir a l'<strong>Appescola</strong> amb el nostre usuari i contrasenya des del menú "Entra".
	      Quan entrem amb el nostre usuari, el primer que trobarem és la llista d'alumnes, que la primera vegada estarà buida. Clicarem al botó "+ Afegir alumnes" i se'ns obrirà una finestra on haurem d'introduir les dades de cada alumne. No totes les dades són obligatòries. Només es necessiten les bàsiques (nom, cognom, curs...) i, si més endavant ens arriba més informació de l'alumne, es pot afegir.
	      Ja tenim feta la part més feixuga. En aquest mateix menú 
	    </div>
 	</div>
</div>