<!--DATA NAIXEMENT-->
                <%var dataNa = alumne.dataNaixement;
                var dd = dataNa.getDate();
                var mm = dataNa.getMonth()+1; //January is 0!
                var yyyy = dataNa.getFullYear();
                if(dd<10) {
                    dd='0'+dd
                    } 
                if(mm<10) {
                    mm='0'+mm
                    } 
                dataNa = dd+'/'+mm+'/'+yyyy;
                  %>



<!-- --------------------------------------- SEGUIMENT ALUMNE ------------------------------------ -->
    <div class="container">
      <div class="row">

            <!--DADES ALUMNE-->
              <div class="container">
                <div class="row">
                  <form role="form">
                    <div class="form-group">
                      <div class="col-md-6">
                        <h4>Control d'assistència: <%=alumne.nomAlumne + " " + alumne.cognomAlumne1 + " " + alumne.cognomAlumne2%></h4>
                      </div>

                      <div class="col-md-6">
                        <hr>
                      </div>

                      <form role="form" method="post" action="/assistenciaAlumne?_method=put" id="assistencia">


                      <div class="form-group col-md-3">
                        <label for="assist1">Veure assistència des del dia </label>
                        <input type="date" class="form-control" id="assist1" name="assist1"
                               placeholder="">
                      </div>

                      <div class="form-group col-md-3">
                        <label for="assist2">fins el dia</label>
                        <input type="date" class="form-control" id="assist2" name="assist2"
                               placeholder="">
                      </div>

                    </div>
                  </form>
                </div>
            </div>
            <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
                <a href="/list" class="btn btn-default btn-sm" role="button">Cancel·la</a>
                <a href="/assistPDF/<%=alumne.id%>" class="btn btn-primary btn-sm" role="button" target="_blank">Imprimir</a>
                </div>
          </div>
        </div>
