 <!-- MetaTags FACEBOOK -->
 <head>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Benvinguts a l'Appescola" />
    <meta property="og:url" content="http://appescola.cat/" />
    <meta property="og:image" content="https://app-escola.herokuapp.com/public/images/appescolaimg.jpg" />
    <meta property="og:description" content="L'AppEscola és una aplicació online pensada per a ajudar els mestres en el seu treball diari a l'aula." />
    <meta property="fb:admins" content="appescola"/>
  </head>
<div class="container containerxtra">
  <div class="row">
    <div class="col-md-10 offset-md-2 lead titleHome"><strong>11/11/2018 versió Beta 1.3.0</strong></div>
    <div class="col-md-10 offset-md-2 lead marginBottom">
      <p>
        Aquesta vegada he fet uns canvis que m'han demanat uns companys i uns quants que se m'han acudit sobre la marxa:<br>
        -Els companys del SIEI de la meva escola em van demanar si podia afegir un llistat de alumnat "valorat" per ells, encara que no hagin entrat al servei.<br>
        -Programant aquesta part, no em demaneu perquè, se'm va acudir afegir un buscador d'alumnes a la barra superior. Encara està en una fase inicial i es pot millorar molt, però de moment ens permet buscar alumnes de la nostra escola pel cognom.<br>
        -En l'apartat assistència, he afegit un apartat per marcar si la falta o el retard estan justificats.<br>
        -He actualitzat mòduls interns de l'aplicació que no es noten, però aporten estabilitat.<br>
        <br>
        Aviat més novetats!<br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-2 lead titleHome"><strong>02/09/2018 versió Beta 1.2.0</strong></div>
    <div class="col-md-10 offset-md-2 lead marginBottom">
      <p>
        Més petits canvis:<br>
        -He afegit a la pàgina d'entrada un apartat "Com funciona?" per explicar el funcionament de l'aplicació d'una manera breu. Estic pensant afegir una secció "Ajuda" a la barra superior que sigui accesible sempre.<br>
        -Ara hi ha un botó a la pàgina de configuració de l'horari per eliminar aquell horari i crear-ne un de nou (molt útil quan canviem de curs).<br>
        -Com sempre he corregit petits errors, aquesta vegada d'estètica.<br>
        <br>
        Seguim endavant!<br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-2 lead titleHome"><strong>03/07/2018 versió Beta 1.1.0</strong></div>
    <div class="col-md-10 offset-md-2 lead marginBottom">
      <p>
        He fet petits canvis, que crec que milloren la manera de treballar:<br>
        -Si estàvem escrivint en una finestra o pàgina i sortíem, la informació es perdia. Ara demana si volem sortir o seguir en aquella pàgina.<br>
        -Ara podem accedir a les dades d'un alumne clicant directament sobre el seu nom, abans s'havia de clicar una icona.<br>
        -He posat el contacte a la barra de menú, apart del peu de pàgina, perquè sigui més accesible.<br>
        -Abans, la finestra de 'login-registre' estava a la pàgina principal. Ara l'he posat en una finestra a part i s'hi accedeix des del menú superior <strong><i class="fa fa-sign-in"></i> Entra</strong>. Crec que queda més net.<br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-2 lead titleHome"><strong>22/05/2018 versió Beta 1.0.0</strong></div>
    <div class="col-md-10 offset-md-2 lead marginBottom">
      <p>
        Bé, després d'uns mesos de proves amb un parell de companyes de l'escola, hem resolt alguns problemes que hi havia:<br>
        - Les etiquetes (nom, email, contrasenya...) dels camps a emplenar es superposaven amb allò que s'escrivia.<br>
        - S'ha habilitat un menú lateral per millorar l'accés a les diferents pantalles.<br>
        - He creat un correu perquè pogueu enviar les vostres propostes o comunicació d'errors.<br>
        - S'ha millorat la visibilitat en dispositius petits com ara tablets o mòbils.<br>
        - També he fet una sèrie de millores tècniques que, per no avorrir-vos, es poden resumir en una millor estabilitat i increment de la velocitat de l'aplicació.<br>
      </p>
      <p>
        Tot i això, vull dir que segurament l'aplicació no és perfecta i sortiran errors, que espero seran mínims, però espero que si en trobeu cap, m'ho feu saber.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-2 lead titleHome"><strong>30/01/2018 versió Alpha 1.0.0</strong></div>
    <div class="col-md-10 offset-md-2 lead marginBottom">
      Hola, em dic Carles Fibla i sóc mestre especialista de música, tot i que treballo com a tutor d'aula. Fa uns anys em vaig començar a aficionar a programar i vaig pensar que seria una bona idea fer una aplicació que m'ajudés en la feina diària amb l'alumnat. En un moment àlgid de creativitat, vaig decidir que com era una aplicació pensada per a l'escola, li diria <strong>appEscola</strong>.<br>Aquesta és la primera versió que publico després de provar jo mateix a casa meva i amb un petit nombre de companys a l'escola moltes versions prèvies. És una versió Alpha perquè encara és en fase de verficació, és a dir que tot i que l'he provada infinitat de vegades, podeu trobar petits errors (o 'bugs', com diuen els informàtics).<br>De moment, aquesta aplicació ens ajuda en coses bàsiques: <strong>Gestió del nostre alumnat i del nostre horari</strong>.
    </div>
    <div class="col-md-4 offset-md-2 lead containerbottom">
      <div class="titleContainer"><strong>Gestió d'alumnes</strong></div>
        Dades personals<br>
        Control d'assistència<br>
        Actes de les reunions amb pares<br> 
        Adaptacions EE i SIEI<br>
        Seguiment EE i SIEI<br>
      </div>
      <div class="col-md-4 offset-md-2 lead containerbottom">
        <div class="titleContainer"><strong>Gestió d'horaris</strong></div>
        Horari setmanal<br>
        Sessions per setmana<br>
        Sessions per matèria<br> 
      </div>
  </div>
</div>

