 <!-- MetaTags FACEBOOK -->
 <head>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Benvinguts a l'Appescola" />
    <meta property="og:url" content="http://appescola.cat/" />
    <meta property="og:image" content="https://app-escola.herokuapp.com/public/images/appescolaimg.jpg" />
    <meta property="og:description" content="L'AppEscola és una aplicació online pensada per a ajudar els mestres en el seu treball diari a l'aula." />
    <meta property="fb:admins" content="appescola"/>
  </head>
<div class="container containerxtra">
  <div class="row">
    <div class="col-md-10 offset-md-2 lead titleHome"><strong>30/01/2018 versió Alpha 1.0.0</strong></div>
    <div class="col-md-10 offset-md-2 lead marginBottom">
      Hola, em dic Carles Fibla i sóc mestre especialista de música, tot i que treballo com a tutor d'aula. Fa uns anys em vaig començar a aficionar a programar i vaig pensar que seria una bona idea fer una aplicació que m'ajudés en la feina diària amb l'alumnat. En un moment àlgid de creativitat, vaig decidir que com era una aplicació pensada per a l'escola, li diria <strong>appEscola</strong>.<br>Aquesta és la primera versió que publico després de provar jo mateix a casa meva i amb un petit nombre de companys a l'escola moltes versions prèvies. És una versió Alpha perquè encara és en fase de verficació, és a dir que tot i que l'he provada infinitat de vegades, podeu trobar petits errors (o 'bugs', com diuen els informàtics).<br>De moment, aquesta aplicació ens ajuda en coses bàsiques: <strong>Gestió del nostre alumnat i del nostre horari</strong>.
    </div>
    <div class="col-md-4 offset-md-2 lead containerbottom">
      <div class="titleContainer"><strong>Gestió d'alumnes</strong></div>
        Dades personals<br>
        Control d'assistència<br>
        Actes de les reunions amb pares<br> 
        Adaptacions EE i SIEI<br>
        Seguiment EE i SIEI<br>
      </div>
      <div class="col-md-4 offset-md-2 lead containerbottom">
        <div class="titleContainer"><strong>Gestió d'horaris</strong></div>
        Horari setmanal<br>
        Sessions per setmana<br>
        Sessions per matèria<br> 
      </div>
  </div>
</div>

