<div class="container containerxtra">
  <div class="row">
    <div class="col-md-10 offset-md-2 lead titleHome"><strong>30/01/2018 versió Alpha 1.1.0</strong></div>
    <div class="col-md-10 offset-md-2 lead marginBottom">
      Hola, em dic Carles Fibla i sóc mestre especialista de música, tot i que treballo com a tutor d'aula. Fa uns anys em vaig començar a aficionar a programar i vaig pensar que seria una bona idea fer una aplicació que m'ajudés en la feina diària amb l'alumnat. En un moment àlgid de creativitat, vaig decidir que com era una aplicació pensada per a l'escola, li diria <strong>appEscola</strong>.<br>Aquesta és la primera versió que publico després de provar moltíssimes versions abans jo mateix i amb un petit nombre de companys. És una versió Alpha perquè encara és en fase de verficació, és a dir que tot i que l'he probada infinitat de vegades, podeu trobar petits errors.<br>De moment ens ajuda en coses bàsiques: dades dels/les alumnes, control d'assistència i de menjador, recull d'entrevistes amb pares i adaptacions de cada alumne/a.
    </div>
  </div>
</div>

