<!--<div class="container">
      <div class="row">
        <form role="form">
          <div class="form-group">
            <div class="col-md-2">
              <label for="ejemplo_archivo_1">Foto alumne</label>
              <div class="thumbnail">
                <img src="http://placehold.it/300x300">
              </div>
              <input type="file" id="ejemplo_archivo_1">
            </div>
 <p class="help-block">Ejemplo de texto de ayuda.</p>
          </div>
        </form>
      </div>
    </div>-->
  
<form role="form" method="post" action="/contrasenya-upd?_method=put" id="contrasenya-upd">
  <div class="container margetop col-md-10 offset-md-2">
    <div class="row">
      <div class="md-form col-12">
        <div class="row">
          <% if (msg !=''){ %>
            <div class="alert alert-success col-md-6">
              <%=msg%>
            </div>
            <div class="col-md-6 offset-md-6">
            </div>
          <% } %>
          <div class="md-form col-md-3">
            <label for="pwd_1">Introduiu la contrasenya nova</label>
            <input type="password" class="form-control" id="pwd_1" name="password1">
          </div>
          <div class="md-form col-md-3">
            <label for="pwd_2">Repetiu la contrasenya</label>
            <input type="password" class="form-control" id="pwd_2" name="password2">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="container">
  <div class="clearfix float-right">
    <span class="col-md-5">
      <button type="submit" form="contrasenya-upd" class="btn btn-primary">Desa la contrasenya</button>
    </span>
  </div>
</div>