
<!-- <div class="container">
      <div class="row">
        <form role="form">
          <div class="form-group">
            <div class="col-md-2">
              <label for="ejemplo_archivo_1">Foto alumne</label>
              <div class="thumbnail">
                <img src="http://placehold.it/300x300">
              </div>
              <input type="file" id="ejemplo_archivo_1">
            </div>
    <p class="help-block">Ejemplo de texto de ayuda.</p>
          </div>
        </form>
      </div>
    </div>-->

<!--DADES ALUMNE-->
    <div class="container">
      <div class="row">
        <form role="form" method="post" action="/dades_crear">
          <div class="form-group">
            <div class="col-md-2">
              <h4>Nova entrada</h4>
            </div>

            <div class="col-md-10">
              <hr>
            </div>

            <div class="form-group col-md-2">
              <label for="nom_alumne">Nom</label>
              <input type="text" class="form-control" id="nom_alumne" name="nom"
                     placeholder="Nom">
            </div>

            <div class="form-group col-md-2">
              <label for="cognom1_alumne">Primer cognom</label>
              <input type="text" class="form-control" id="cognom1_alumne" name="cognom1"
                     placeholder="Cognom">
            </div>

            <div class="form-group col-md-2">
              <label for="cognom2_alumne">Segon cognom</label>
              <input type="text" class="form-control" id="cognom2_alumne" name="cognom2"
                     placeholder="Cognom">
            </div>

            <div class="form-group col-md-3">
              <label for="data_naixement">Data naixement (dd/mm/aaaa)</label>
              <input type="date" class="form-control" id="data_naixement" name="naixement"
                     placeholder="">
            </div>

            <div class="form-group col-md-3">
              <label for="targeta_SS">Targeta SS</label>
              <input type="text" class="form-control" id="targeta_SS" name="sSocial"
                     placeholder="Seguretat Social">
            </div>
            <div class="col-md-12" id="newEE_error"><%=errorAlta%></div>
            <div class="form-group col-md-3 col-md-offset-9" style="text-align:right;">
            <a href="/list" class="btn btn-default" role="button">Cancel·la</a>
            <button type="submit" class="btn btn-primary">Desa</button>
            </div>
            
          </div>
        </form>
      </div>
    </div>


  <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  

    <!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
    <script src="/stylesheets/js/bootstrap.min.js"></script>

