<div class="bd-pageheader margetop">
  <h1 class="display-3">Benvinguts a</h1>
  <h1 class="display-3"><strong>appEscola</strong></h1>
  <p class="lead">Aquest és només un missatge de prova.</p>
  <p>I un missatge més petit.</p>
  <p class="lead">
 <!--   <a class="btn btn-default btn-lg" data-toggle="modal" id="btnAssist" href="/javascripts/modals/nouRegistre.ejs" data-target="#userModal" role="button">Registrar-me!</a> -->
  </p>
</div>


