<div class="container intro-back containerxtra">
  <!-- Jumbotron Header -->
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6">
                <a href="#" class="active" id="login-form-link">Entrar</a>
            </div>
            <div class="col-md-6">
                <a href="#" id="register-form-link">Registar-me</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">  
              <!-- LOGIN -->                 
              <form role="form" data-toggle ="validator" method="post" action="/login" id="login-form" style="display: block;">
                <div class="modal-body">
                  <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="email" class="form-control" id="usrname" name="email" required="true">
                    <label for="usrname">Correu electrònic</label>
                  </div>
                  <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" class="form-control" id="psw" name="password" required="true">
                    <label for="psw">Contrasenya</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" value="" checked>Recorda'm</label>
                  </div>
                  <p>
                    <a href="#">Heu oblidat la vostra contrasenya?</a>
                  </p>
                </div>
                <div class="col-md-6 offset-md-3">
                  <button type="submit" class="form-control btn btn-login" form="login-form">Entra</button>
                </div>
              </form>
              <!-- REGISTRE -->
              <form id="formUser" role="form" style="display: none;">
                <div class="modal-body">
                  <div class="row">
                    <div class="md-form col-md-6">
                      <label for="nom_user">Nom</label>
                      <input type="text" class="form-control" id="nom_user" name="nom" required="true">
                    </div>
                    <div class="md-form col-md-6">
                      <label for="cognom_user">Cognom</label>
                      <input type="text" class="form-control" id="cognom_user" name="cognom" required="true">
                    </div>
                  </div>
                  <div class="row">
                    <div class="md-form col-md-6">
                      <label for="codi_esc_tutor">Codi escola</label>
                      <input type="number" class="form-control" id="codi_esc_tutor" name="escola" required="true">
                    </div>
                    <div class="md-form col-md-6">
                      <label for="nom_esc_tutor">Nom escola (sense "Escola")</label>
                      <input type="text" class="form-control" id="nom_esc_tutor" name="escolanom" required="true">
                    </div>
                  </div>
                  <div class="row">
                    <div class="md-form col-md-6">Sóc
                      <select class="form-control" id="mestres" name="mestre" required="true">
                        <option value="tutor">Tutor/a</option>
                        <option value="ee">EE-SIEI</option>
                      </select>
                    </div>
                    <div class="md-form col-md-6">Curs
                      <select class="form-control" id="curs_act" name="curs" required="true">
                        <option value=""></option>
                        <option value="1r A">1r A</option>
                        <option value="1r B">1r B</option>
                        <option value="2n A">2n A</option>
                        <option value="2n B">2n B</option>
                        <option value="3r A">3r A</option>
                        <option value="3r B">3r B</option>
                        <option value="4t A">4t A</option>
                        <option value="4t B">4t B</option>
                        <option value="5è A">5è A</option>
                        <option value="5è B">5è B</option>
                        <option value="6è A">6è A</option>
                        <option value="6è B">6è B</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="md-form col-md-12">
                      <label for="email_user">Correu electrònic</label>
                      <input type="email" class="form-control" id="email_user" name="email" required="true">
                    </div>
                  </div>
                  <div class="row">
                    <div class="md-form col-md-12" style="margin-bottom: 0px;">
                      <label for="password_user">Contrasenya</label>
                      <input type="password" class="form-control" id="password_user" name="password" placeholder="Contrasenya" required="true">
                      <div class="md-form" style="margin-bottom: 0px;">
                        <small>Per a accedir a l'aplicació sempre se us demanarà el vostre correu electrònic i la contrasenya.</small>
                      </div><br>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 offset-md-3">
                  <button type="submit" form="formUser" class="form-control btn btn-login">Envia la informació</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container containerxtra" id="queEs">
  <div class="row">
    <div class="col-md-12 lead titleHome"><strong>QUÈ ÉS?</strong></div>
    <div class="col-md-12 lead marginBottom">
      L'<strong>appEscola</strong> és una aplicació online pensada per ajudar als mestres en el seu treball diari a l'aula.
    </div>
    <div class="col-md-12 lead titleHome"><strong>QUÈ PUC FER?</strong></div>
    <div class="col-md-12 lead marginBottom">
      Aquesta aplicació encara és en fase de proves, però de moment em permet tenir un seguiment personalitzat de cada alumne i m'ajuda a programar les sessions del meu horari.
    </div>
    <div class="col-md-12 lead titleHome"><strong>COM FER SEGUIMENT DE L'ALUMNAT?</strong></div>
    <div class="col-md-12 lead marginBottom">
      Ens permet controlar l'assistència diària de cada alumne i si es queda al menjador de l'escola, així com les seves adaptacions (si en té), i de la seva progressió.
    </div>
  </div>
</div>
<div class="container containerxtra containerbottom">
  <div class="row">
    <div class="col-md-12 lead titleHome"><strong>Voleu provar l'appEscola?</strong></div>
    <div class="col-md-12 lead">Feu clic al botó corresponent i entrareu com a usuari "demo". Podeu provar tot i investigar tot allò que volgueu:</div>
      <div class="col-md-6 margintop">
        <form role="form" data-toggle ="validator" method="post" action="/login" id="login-mestre">
            <input type="hidden"  name="email" value="demo@demo.cat">
            <input type="hidden"  name="password" value="demo">
            <button type="submit" class="btn btn-default mx-auto" form="login-mestre" style="display: block;">Prova com a tutor/a</button>
        </form>
      </div>
      <div class="col-md-6 margintop">
        <form role="form" data-toggle ="validator" method="post" action="/login" id="login-ee">
            <input type="hidden"  name="email" value="demoee@demo.cat">
            <input type="hidden"  name="password" value="demo">
            <button type="submit" class="btn btn-success mx-auto" form="login-ee" style="display: block;">Prova mestre EE - SIEI</button>
        </form>
      </div>
      <div class="col-md-12 lead">Si us agrada el funcionament de l'appEscola, registreu-vos, indiqueu si sou tutor d'aula o EE - SIEI i introduiu les vostres dades. Des d'aquest moment podreu entrar introduint el vostre correu i una contrasenya.</div>
      <br>
      <a class="dropdown-item" data-toggle="modal" id="btnUser" href="/javascripts/modals/mail.ejs" data-target="#mailModal" role="button">Enviar mail</a>
  </div>
</div>

<!-- MODAL NOU TUTOR -->
<div class="modal fade" id="mailModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    </div>
  </div>
</div>