<div class="bd-pageheader">
  <h1 class="display-3">Benvingut a</h1>
  <h1 class="display-3"><strong>EscolApp</strong></h1>
  <p class="lead">Aquest és només un missatge de prova.</p>
  <p>I un missatge més petit.</p>
  <p class="lead">
    <a class="btn btn-secondary btn-lg" href="#" role="button">Registrar-me!</a>
  </p>
</div>