 <!-- MetaTags FACEBOOK -->
<head>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Benvinguts a l'Appescola" />
  <meta property="og:url" content="http://appescola.cat/" />
  <meta property="og:image" content="http://appescola.cat/public/images/appescolaimg.jpg" />
  <meta property="og:description" content="L'AppEscola és una aplicació online pensada per a ajudar els mestres en el seu treball diari a l'aula." />
  <meta property="fb:admins" content="appescola"/>
</head>
<div class="container containerxtra" id="queEs">
  <div class="row">
    <div class="col-md-12 lead titleHome"><strong>Què és l'appEscola?</strong></div>
    <div class="col-md-12 lead marginBottom">
      L'<strong>appEscola</strong> és una aplicació online pensada per a ajudar els mestres en el seu treball diari a l'aula. Ara és en fase de proves i poc a poc anirà evolucionant. De moment ens ajuda en dues coses bàsiques: <strong>Gestionar l'alumnat i també el nostre horari</strong>.<br><br>
      Un dels aspectes més interessants d'aquesta aplicació és la possibilitat del seguiment simultani per part del tutor i de l'especialista d'EE-SIEI dels alumnes hagin estat derivats a Educació Especial.<br>
    </div>
    <div class="col-md-4 lead offset-md-1 containerintro">
      <div class="titleContainer"><strong>Gestió d'alumnes</strong></div>
      Dades de cada alumne<br>
      Control d'assistència<br>
      Actes de reunions amb pares<br> 
      Adaptacions EE-SIEI<br>
      Seguiment, actuacions i reunions EE-SIEI<br>
    </div>
      <div class="col-md-4 offset-md-2 lead containerintro">
      <div class="titleContainer"><strong>Gestió d'horaris</strong></div>
      Horari anual<br>
      Horari diari<br>
      Sessions diàries<br>
      Sessions per matèria<br>
      Sessions per UD - Tema<br> 
    </div>
  </div>
</div>
<div class="container containerxtra containermid" id="comFunciona">
  <div class="row">
    <div class="col-md-12 lead titleHome"><strong>Com funciona?</strong></div>
    <div class="col-md-12 lead marginBottom">
      El primer que us recomanaria, es fer una prova abans de registrar-vos (en aquesta mateixa pàgina, més avall, teniu uns botons per fer-la). Una vegada heu fet la prova, tot i que el funcionament de l'<strong>AppEscola</strong> és força intuitiu, els passos a seguir serien aquests:<br><br>
      <strong>1. Registrar-me: </strong>En el menú "Entra" de la barra superior hi ha una pestanya per introduir les meves dades i donar-me d'alta a l'aplicació. Recordeu-vos d'indicar si sou mestre tutor o mestre EE-SIEI.<br><br>
      <strong>2. Introduir les dades dels meus alumnes: </strong>Aquest és un pas molt important perquè hem d'introduir les dades personals de cada alumne, si necessita qualsevol adaptació, si esta derivat a EE, SIEI (sinó sou l'especialista) o a qualsevol servei extern. Un cop hem afegit les dades de l'alumnat, podrem gestionar l'assistència, les reunions familiars o si es queden al menjador de l'escola.<br><br>
      <strong>3. Creació i configuració del meu horari personal: </strong>Aquí hem d'omplir les caselles de l'horari amb les matèries o les hores de treball personal.<br><br>
      <strong>4. Seqüenciació de les sessions: </strong>Un cop hem configurat l'horari, seleccionem les matèries i hi introduirem les activitats de cada sessió. No cal afegir tot el curs de cop, es pot anar afegint i modificant la informació sempre que volguem.<br><br>
      <strong>5. Horari diari: </strong>Quan hem afegit les activitats de cada sessió, ja ens apareixen al nostre horari del dia i podem consultar i modificar les activitats.<br><br>

    </div>
  </div>
</div>
<div class="container containerxtra containerbottom">
  <div class="row">
    <div class="col-md-12 lead titleHome"><strong>Voleu provar l'appEscola?</strong></div>
    <div class="col-md-12 lead">Feu clic al botó corresponent (tutor o especialista d'EE) i entrareu com a usuari "demo". Podeu provar, investigar i modificar tot allò que volgueu.</div>
      <div class="col-md-6 margintop">
        <form role="form" data-toggle ="validator" method="post" action="/login" id="login-mestre">
            <input type="hidden"  name="email" value="demo@demo.cat">
            <input type="hidden"  name="password" value="demo">
            <button type="submit" class="btn btn-default mx-auto" form="login-mestre" style="display: block;">Prova com a tutor/a</button>
        </form>
      </div>
      <div class="col-md-6 margintop">
        <form role="form" data-toggle ="validator" method="post" action="/login" id="login-ee">
            <input type="hidden"  name="email" value="demoee@demo.cat">
            <input type="hidden"  name="password" value="demo">
            <button type="submit" class="btn btn-success mx-auto" form="login-ee" style="display: block;">Prova mestre EE - SIEI</button>
        </form>
      </div>
      <div class="col-md-12 lead">Si us agrada el funcionament de l'appEscola, registreu-vos, indiqueu si sou tutor d'aula o EE - SIEI i introduiu les vostres dades. Des d'aquest moment podreu entrar introduint el vostre correu i una contrasenya.</div>
  </div>
</div>
<div class="container containerxtra containermid" id="comFunciona">
  <div class="row">
    <div class="col-md-12 lead titleHome"><strong><br>Què falta per venir?</strong></div>
    <div class="col-md-12 lead marginBottom">
       Tinc moltes coses al cap i les he d'anar implementant mentre vaig corregint errades de versions anteriors. Tot i això, en les properes actualitzacions intentaré centrar-me en tot allò relacionat amb la facilitat de treball de l'usuari, l'adaptació a les "tablets" i els telèfons mòbils i la programació i avaluació amb àmbits, dimensions, competències...<br><br>
       També tinc al cap adaptar l'aplicació als especialistes (música, ed. física, idiomes...) que necessiten llistats de diferents classes i poder canviar les hores d'inici i final de les sessions per donar flexibilitat a l'horari.
    </div>
  </div>
</div>