<%var lg=horari.dades.length-1%>
<form role="form" method="post" action="/horari-post?_method=put" id="horari_post">
  <div class="container margetop clear" id="horari">

      <div class="md-form col-12" style="clear: both;">
        <div class="row">
          <div class="md-form col-md-3">
            <label for="nom_horari">Nom de l'horari</label>
            <input type="text" class="form-control" id="nom_horari" name="nom"
                   value="<%=horari.nom%>">
          </div>
        </div>
      </div>
<!--DATEPICKER-->
      <div class="md-form col-md-6">
        <div class="row">
          <div class="md-form col-md-5" id="iniciHorari">
            <label class="active" for="inici">Comença el dia</label>
            <div class="input-group date" data-provide="datepicker">
              <div class="input-group-addon"><i class="fa fa-calendar"></i>
              </div>
                <input type="text" class="form-control textcenter" id="inici" form="horari_post" name="horariInici" value="<%=horari.dades[0].data%>">
            </div>
          </div>
          <div class="md-form col-md-5" id="finalHorari">
            <label class="active" for="horariFinal">Acaba el dia</label>
            <div class="input-group date" data-provide="datepicker">
              <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
              <input type="text" class="form-control textcenter" id="final" form="horari_post" name="horariFinal" value="<%=horari.dades[lg].data%>">
            </div>
          </div>
        </div>
      </div>
<!--END DATEPICKER-->

    <div class="container">
      <div class="row">
<!--COLUMNA 1 DILLUNS-->
        <div class="col-sm">
            <div class="fila1"><strong>DILLUNS</strong></div>
            <div class="hores">
              9:00
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe1dll" placeholder="Matèria">
              </div>
            </div>
            <div class="hores">
              10:00
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe2dll" placeholder="Matèria">
              </div>
            </div>
            <div class="fila1">
              11:00
            </div>
            <div class="hores">
              11:30
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe3dll" placeholder="Matèria">
              </div>
            </div>
            <div class="fila1">12:30</div>
            <div class="fila2">15:00</div>
            <div class="hores">
              15:30
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="classe4dll" placeholder="Matèria">
              </div>
            </div>
        </div>
  <!--COLUMNA 2 DIMARTS-->
        <div class="col-sm">
            <div class="fila1"><strong>DIMARTS</strong></div>
            <div class="hores">
              9:00
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
            <div class="hores">
              10:00
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
            <div class="fila1">
              11:00
            </div>
            <div class="hores">
              11:30
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
            <div class="fila1">12:30</div>
            <div class="fila2">15:00</div>
            <div class="hores">
              15:30
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
        </div>
  <!--COLUMNA 2 DIMECRES-->
        <div class="col-sm">
            <div class="fila1"><strong>DIMECRES</strong></div>
            <div class="hores">
              9:00
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
            <div class="hores">
              10:00
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
            <div class="fila1">
              11:00
            </div>
            <div class="hores">
              11:30
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
            <div class="fila1">12:30</div>
            <div class="fila2">15:00</div>
            <div class="hores">
              15:30
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
        </div>
  <!--COLUMNA 2 DIJOUS-->
        <div class="col-sm">
            <div class="fila1"><strong>DIJOUS</strong></div>
            <div class="hores">
              9:00
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
            <div class="hores">
              10:00
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
            <div class="fila1">
              11:00
            </div>
            <div class="hores">
              11:30
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
            <div class="fila1">12:30</div>
            <div class="fila2">15:00</div>
            <div class="hores">
              15:30
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
        </div>
  <!--COLUMNA 2 DIVENDRES-->
        <div class="col-sm">
            <div class="fila1"><strong>DIVENDRES</strong></div>
            <div class="hores">
              9:00
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
            <div class="hores">
              10:00
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
            <div class="fila1">
              11:00
            </div>
            <div class="hores">
              11:30
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
            <div class="fila1">12:30</div>
            <div class="fila2">15:00</div>
            <div class="hores">
              15:30
              <div class="md-form input-horari">
                <input type="text" class="form-control" name="" placeholder="Matèria">
              </div>
            </div>
        </div>
      </div><br><br>
    </div>

    </div>
  </div>
</form>

<div class="container clear">
  <div class="clearfix float-right">
    <% 
    var li = "/list";
    if(session.user.mestre === "ee"){
      li = "/list_EE"}
    %>

    <span class="col-md-5">
      <a href="<%=li%>" type="button" class="btn btn-blue-grey"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Torna a la llista</span></a>

    <button type="submit" form="horari_post" class="btn btn-primary">Desa</button>
    </span>
  </div>
</div>