
  <div class="fons">
    <div class="container col-sm-4 col-sm-offset-4" >
      <div class="escola">
        <span class="glyphicon glyphicon-user"></span>
        <span> Accedeix<!-- o <a href="/try_nou">crea usuari</a>--></span>
        <form role="form" method="post" action="/login">
          <div class="form-group">

            <label for="email_user"></label>
            <input type="email" class="form-control" id="email_user" name="email"
               placeholder="Email usuari">
   
            <label for="password_user"></label>
            <input type="password" class="form-control" id="password_user" name="password"
               placeholder="Contrasenya">

               <span><br/><small><a href="#">Heu oblidat la vostra contrasenya?</a></small></span>

            <button type="submit" class="btn btn-primary pull-right boton-index">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Librería jQuery requerida por los plugins de JavaScript -->
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
    <!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
  <!--  <script src="js/bootstrap.min.js"></script> -->