
  <div class="fons">
    <div class="container col-sm-4 col-sm-offset-4" >
      <div class="escola">
        <span class="glyphicon glyphicon-user"></span>
        <span> Accedeix o <a href="#">crea usuari</a></span>
        <form role="form">
          <div class="form-group">

            <label for="email_escola"></label>
            <input type="email" class="form-control" id="email_escola"
               placeholder="Email escola">
   
            <label for="password_escola"></label>
            <input type="password" class="form-control" id="password_escola" 
               placeholder="Paraula de pas">

               <span><br/><small><a href="#">Heu oblidat la paraula de pas?</a></small></span>

            <a class="btn btn-primary pull-right boton-index" href="/list">Enviar</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Librería jQuery requerida por los plugins de JavaScript -->
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
    <!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
    <script src="js/bootstrap.min.js"></script>