
  <div class="fons">
    <div class="container col-md-2 col-md-offset-5" >
      <div class="escola">
        <span class="glyphicon glyphicon-user"></span>
        <span> Nou usuari </span><br>

          <div class="form-group">

            
            <label for="userTipus">Indiqueu si sou<br></label><br>
            <div class="divintro">
            <a href="/escola_nou" class="btn btn-primary btn-md botonintro" role="button">Escola</a>
            </div>
            <div class="divintro">
              <a href="/usuari_nou" class="btn btn-primary btn-md botonintro" role="button">Tutor</a>
            </div>
<!--            <a href="/" class="btn btn-primary btn-md" role="button">Especialista</a>-->
            <div class="divintro">
             <a href="/usuari_ee_nou" class="btn btn-primary btn-md botonintro" role="button">EE-USEE</a>
            </div>

          </div>


      </div>

    </div>
  </div>