
  <div class="fons">
    <div class="container col-md-6 col-md-offset-3" >
      <div class="escola">
        <span class="glyphicon glyphicon-user"></span>
        <span> Nou usuari </span><br>

          <div class="form-group">

            
            <label for="userTipus">Indiqueu si sou<br></label><br>
            <a href="/escola_nou" class="btn btn-primary btn-md" role="button">Escola</a>
            <a href="/usuari_nou" class="btn btn-primary btn-md" role="button">Tutor</a>
<!--            <a href="/" class="btn btn-primary btn-md" role="button">Especialista</a>-->
            <a href="/usuari_ee_nou" class="btn btn-primary btn-md" role="button">EE-USEE</a>

          </div>


      </div>

    </div>
  </div>

  <!-- Librería jQuery requerida por los plugins de JavaScript -->
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>