* {
  background: #f8f7f7;

}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 2em; 
    background: #f8f7f7;
}

label { 
 /*   float: left; 
    display: block; 
    width: 11em; */
}
.fons{
    padding-top:5em;
}
.escola {
   /* margin-top: 50%;*/
    padding: 1em 2em 5em 2em;
    border:1px #e4e4e4 solid;
    border-radius: 1em;
}
span.glyphicon-user {
    font-size: 1.2em;
}
.boton-index{
    margin-top: 1em;
    margin-bottom: 1em;
}
.panel-title a{
    text-decoration: none;
}
a:hover{
    font-weight: bold;
    text-decoration: none;
}
#newEE_error{
    text-align: center;
    color: red;
}
.alturaBox{
     height: 5em;
}
.actuPast {
    max-height: 15em;
    overflow: auto;
}
.divintro{
    margin: 0;
    padding-top: 1em;
    text-align: center;
}
.botonintro{
 /*   padding: 1em;*/
    vertical-align: middle;
}
