html {
    position: relative; 
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
   margin: 0;
   position: relative;
   margin: 0;
   padding-bottom: 6rem;
   min-height: 100%;
   font-family: "Helvetica Neue", Arial, sans-serif;
/*    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
/*    font-size: 14px;*/
    /*background: #f8f7f7;*/
}

.navbar-brand{
    margin-left: 1em;
}

.marge-r{
    margin-right: 1em;
}

.bd-pageheader {
    padding: 1em;
    background: #5cb85c;
    color:#bae8ba;
}

.bd-pageheader strong {
    color: black;
}

.master {
    min-height: 100%;
}

.mainsection {
    padding-top: 4.5em;
    padding-bottom: 0px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}


.fons{
    padding-top:5em;
}

.centered {
    text-align: center;
}

.clear {
    clear: both;
}

.escola {
   /* margin-top: 50%;*/
    padding: 1em 2em 5em 2em;
    border:1px #e4e4e4 solid;
    border-radius: 1em;
}

span.glyphicon-user {
    font-size: 1.2em;
}

.boton-index{
    margin-top: 1em;
    margin-bottom: 1em;
}

.panel-title a{
    text-decoration: none;
}
/*
a:hover{
    font-weight: bold;
    text-decoration: none;
}
*/
.alturaBox{
     min-height: 3em;
}

.actuPast {
    max-height: 15em;
    overflow: auto;
}

.divintro{
    margin: 0;
    padding-top: 1em;
    text-align: center;
}

.botonintro{
    vertical-align: middle;
}

.page-t{
    text-align: left;
    background-color: #5cb85c;
    min-height: 5em;
    color: white !important;
    font-size: 1.5em;
    margin-bottom: .5em;
    padding: .3em;  
}

.sub-t{
    clear:both;
    font-size: 1.2em;
    padding-bottom: 1em;
}

.curs-t{
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}

.datep-t{
    vertical-align: middle;
}

.modal-header, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 35px;
}

.modal-footer {
      background-color: #f9f9f9;
}

.seguiment {
    margin-bottom: 50px;

}

.seguiment a{
    color: #333;
    text-decoration: none;
}

.seguiment a:hover{
    color: black;
    text-decoration: none;
}

.seg-title {
    margin-bottom: 40px;
}

.tbl{
    min-height: 250px;
}

span.white a{
    color: #fff;
}

#newEE_error{
    text-align: center;
    color: red;
}