html {
    position: relative; 
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
   margin: 0;
   position: relative;
   margin: 0;
   padding-bottom: 6rem;
   min-height: 100%;
/*   font-family: "Helvetica Neue", Arial, sans-serif;
/*    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
/*    font-size: 14px;*/
    /*background: #f8f7f7;*/
}
@media (max-width: 992px) {
    .hid {
        display: none;
    }
    .divButton{
        padding: .5em;
        border: 1px solid #bbb;
        min-height: 50px;
    }
    .buttonDiari {
        border:2px solid #008577;
        background: #fff;
        color: #008577 !important;
        box-shadow: none;    
    }
    .buttonDiari:hover {
        border:2px solid #008577;
        background: #008577 !important;
        color: black !important;
        box-shadow: none;    
    }

}
@media (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
     nav {
        height: 45px;
    }
    .hidBig{
        display: none;
    }
    /*SIDEBAR*/
    .sidebar
    {
        position: fixed;
        z-index: 10;
        width: 200px;
        height: 100%;
        padding-top: 50px;
        top: 0;
        left: 0;
        background: #2BBBAD;
    }
    .sidebar a
    {
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
    }
    .sidebar a:hover
    {
        color: #7BDFD4;
    }
    .sidelink {
        padding: 20px;
    }

    .buttonSide {
        margin: 0;
        width: 100%;
        border:2px solid #2BBBAD;
        padding: 10px;
        background: #008577;
        box-shadow: none;
    }

    .buttonSide:hover {
        margin: 0;
        width: 100%;
        padding: 10px;
        background: #2BBBAD !important;
        box-shadow: none;
    }

    .dropAside{
        max-height: 200px;
        overflow: scroll;
    }

    #situ {
    padding-top: 1em;
    font-size: 150%;
    text-transform: uppercase;
    color: #fff;
    }

    #situee {
    padding-top: 1em;
    font-size: 180%;
    text-transform: uppercase;
    color: #fff;
    }

    .navcolorside {
    background: #008577;
    }

    .navcolorside a {
        color: #000;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


nav {
    z-index:1000;
}
nav .container{
    width: 100%;
    margin: 0;
    display: block;
}
nav .dropdown-item:hover {
    color: #616161;
    text-decoration: none;
    background-color: #424242;
}
nav a{
}

.hidDrop{
     display: none;
}

.jumbotron{
    background: #eee;
}
.card {
    height: 100%;
}

.card-body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.nav-link {
    margin-left: 3px;
    margin-right: 3px;
}
.seconnav {
    width: 100%;
    background-color: #2BBBAD;
    padding: 2.5em 1em .5em 2em;
    position: fixed;
    z-index: 1000;
    opacity: 0.5;
}
.navcolor{
    border-bottom: 5px solid #2BBBAD;
}
.navcolor a{
    color: white !important;
}

table a:hover{
    opacity: .5;
}
.btn-outline-secondary{
    color:#4B515D !important;
    background-image:none;
    background-color:transparent;
    border-color:#4B515D !important
}
.btn-outline-secondary:hover{
    color:#fff !important;
    background-color:#4B515D;
    border-color:#4B515D
}
.btn-outline-secondary.focus,.btn-outline-secondary:focus{
    -webkit-box-shadow:0 0 0 2px rgba(204,204,204,.5);
    box-shadow:0 0 0 2px rgba(204,204,204,.5)
}
.btn-outline-secondary.disabled,.btn-outline-secondary:disabled{
    color:#4B515D;
    background-color:transparent
}
.btn-outline-secondary.active,
.btn-outline-secondary:active,
.show>
.btn-outline-secondary.dropdown-toggle{
    color:#fff;
    background-color:#4B515D;
    border-color:#4B515D
}
.marge-r{
    margin-right: 1em;
}
.master {
    min-height: 100%;
}
.mainsection {
    padding-top: 4.5em;
    padding-bottom: 0px;
    margin-bottom: 10em;
}
.footer {
    position: absolute;
    /*z-index: 9990;*/
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #bbb;
    color: black;
    text-align: left;
}
.md-form .prefix.active {
     color: inherit; 
}
.fons{
    padding-top:5em;
}
.centered {
    text-align: center;
}
.left {
    text-align: left;
}
.clear {
    clear: both;
}
.modalink{
    color:#424242;
    hover:red;
}
.escola {
   /* margin-top: 50%;*/
    padding: 1em 2em 5em 2em;
    border:1px #e4e4e4 solid;
    border-radius: 1em;
}
span.glyphicon-user {
    font-size: 1.2em;
}
.boton-index{
    margin-top: 1em;
    margin-bottom: 1em;
}
.alturaBox{
     min-height: 3em;
}
.actuPast {
    max-height: 15em;
    overflow: auto;
}
.divintro{
    margin: 0;
    padding-top: 1em;
    text-align: center;
}
.botonintro{
    vertical-align: middle;
}
.margetop {
    margin-top: 4em;
}
.margetopmini {
    margin-top: 1em;
}
.page-t{
    text-align: left;
    background-color: #5cb85c;
    min-height: 5em;
    color: white !important;
    font-size: 1.5em;
    margin-bottom: .5em;
    padding: .3em;  
}

.sub-t{
    clear:both;
    font-size: 1.2em;
    padding-bottom: 1em;
}

.curs-t{
    text-align: left;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}
.curs-t2{
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}

.datep-t{
    margin-top:.5em;
}

.tablemarge{
    margin-top:1em;
}

.textcenter{
    text-align: center;
}

.modal-header, .close {
    background-color: #2BBBAD;
    /*color:white !important;*/
    text-align: center;
    font-size: 35px;
}

.modal-body {
    padding:40px 50px;
}

.modal-footer {
      background-color: #f9f9f9;
}

.seguiment {
    margin-bottom: 50px;

}

.seguiment a{
    color: #333;
    text-decoration: none;
}

.seguiment a:hover{
    color: black;
    text-decoration: none;
}

.seg-title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.tbl{
    min-height: 250px;
}


/*HORARI*/
/*  CONFIG  */
#horari .col-sm{
    padding-right: 0px;
    padding-left: 0px
}

.fila1 {
    margin: 5px;
    padding-top: .5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    background: #008577;
    color: white;
}

.fila2 {
    margin: 5px;
    padding-top: .5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    background: #2BBBAD;
    /*color: white;*/
}

.hores {
    margin: 5px;
    padding-left: .5em;
    padding-top: .5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100px;
}

.input-horari {
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
}
/*DIARI*/
.horaritext{
    min-height: 100px;
}
.link {
    color:#464646;
}
.diaDiari {
    margin-top: 2em;
    padding: .5em;
    border: 1px solid #bbb;
    font-size: 150%;
    background: #008577;
    border-radius: 10px;
    color: white;
}

.horesDiari {
    padding:.5em;
    border: 1px solid #bbb;
    border-radius: 10px;
    min-height: 100px;
}

.horesBottom {
    padding: .5em;
    border: 1px solid #bbb;
    min-height: 100px;
}
/*ÀREES*/
.areestext{
    min-height: 100px;
}
.objtext{
    min-height: 50px;
}

.firstline {
    margin-bottom: 15px;
}
.titlearea {
    font-size: 150%;
}
/*COLORS*/
.blau{
    color:#4285F4;
}
.gris{
    color:#4B515D;
}
.grisfluix{
    color:#e0e0e0;
}
.fondogris {
    background-color: #f5f5f5;
    z-index: 1;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #eee;
}
.verm {
    color:#c62828;
}
.verd{
    color:#2BBBAD;
}

#newEE_error{
    text-align: center;
    color: red;
}

