
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Eliminar Actuacions</title>

  </head>

  <body>
    <div class="modal-header">
      <div class="modal-title">Eliminar actuació</div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <div class="container">
        <div class="row">
          <div class="md-form col-md-5 clear">
            <strong>Alumne/a: </strong><span id="nomAlDel"></span>
          </div>
          <div class="md-form col-md-3">
            <strong>Curs: </strong><span id="cursAlDel"></span><br><br>
          </div>
          <form role="form" method="post" action="" id="del_actuacions">
            <div class="md-form col-md-12 clear>
              <p class = "clear"><strong>Voleu esborrar aquesta actuació?</strong></p>
              <p class = "clear"><strong>Data </strong><p id="actuDataDel"></p></p>
              <p class = "clear"><strong>Actuació </strong><p id="actuBodyDel"></p></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default" role="button" data-dismiss="modal">Cancel·la</a>
      <button type="submit" form="del_actuacions" id="actuDel" class="btn btn-danger">Elimina actuació</button>
    </div>
  </body>
</html>