<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Modificar actuació</title>

  </head>
  <body>
    <div class="modal-header">
      <div class="modal-title">Modificar actuació</div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-md-6 clear">
            <strong>Alumne/a: </strong><span id="nomAlUpd"></span>
          </div>
          <div class="form-group col-md-2">
            <strong>Curs: </strong><span id="cursAlUpd"></span><br><br>
          </div>

          <div class="md-form col-12"><br>          
            <form role="form" method="post" id="upd_actuacions">

            <!--DATEPICKER-->
              <div class="md-form col-md-3 alturabox" id="acDataUpd">
                <label class="active" for="actuDataUpd">Data</label>
                <div class="input-group date" data-provide="datepicker">

                  <div class="input-group-addon"><i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" id="actuDataUpd" class="form-control" form="upd_actuacions">
                </div><br><br>
              </div>

              <!-- BODY -->
              <div class="md-form col-12 alturabox" style="height:100px;">
                <label class="active" for="actuBodyUpd">Actuació</label><br>
                <textarea class="form-control" style="height:100%;" id="actuBodyUpd" form="upd_actuacions"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>    
    <div class="modal-footer">
      <div class="container">
        <span id="alertaDades" class="alerta hidDrop">
          Encara no heu desat els canvis. Realment voleu abandonar aquest quadre?
          <button class="btn btn-warning btn-block" id="modalDiscard">Abandonar</button>
        </span>
        <button type="submit" form="seg_actuacions" class="btn btn-success btn-block" id="actuBtn">Actualitza</button>
      </div>
    </div>
  </body>
</html>