<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Actuacions</title>
<script src="/javascripts/global.js"></script>
  </head>
  <body>
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Actuacions</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-5 clear">
            <strong>Alumne/a: </strong><span id="nomAl"></span>
          </div>
          <div class="form-group col-md-3">
            <strong>Curs: </strong><span id="cursAl"></span><br><br>
          </div>
    
          <form role="form" method="post" action="/seg_act_upd_EE/<%=alumne._id%>?_method=put" id="seg_actuacions">

            <!--DATEPICKER-->
            <div class="col-md-3 clear" id="acData">
              <label for="actuData">Data</label>
              <div class="input-group date" data-provide="datepicker">
                <input type="text" id="actuData" class="form-control" form="seg_actuacions" name= "" value ="">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
              </div>
              <br><br>
            </div>

            <div class="form-group col-md-12">
              <label for="actuBody">Actuació</label>
              <textarea class="form-control" rows="10" id="actuBody" name="" form="seg_actuacions"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>    
    <div class="modal-footer">
        <button type="submit" form="seg_actuacions" class="btn btn-success btn-block" id="actuBtn">Desa</button>
    </div>
  </body>
</html>