<!-- REPASSAR CSS!!!!-->


<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Alta alumnes</title>
  </head>

  <body>
    <div class="modal-header">
      <div class="modal-title">Alta alumnes</div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form role="form" method="post" id="alt_alum">
        <div class="container">
          <div class="row">
            <p class = "clear"><strong>Voleu donar d'alta l'alumne/a?</strong><br></p>
              <div class="col-md-12 clear">
              <div id="nomAlAl"></div><br><br>
            <p class = "clear">No tornarà a aparèixer al vostre llistat d'alumnes<br></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    <div class="modal-footer">
      <a class="btn btn-default" role="button" data-dismiss="modal">Cancel·la</a>
      <button type="submit" form="alt_alum" id="alumDel" class="btn btn-danger">Donar d'alta</button>
    </div>
  </body>
</html>