
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Eliminar coordinació</title>
    <script src="/javascripts/global.js"></script>
  </head>

  <body>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Eliminar coordinació</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 clear">
            <strong>Alumne/a: </strong><span id="nomAlDel"></span>
          </div>
          <div class="form-group col-md-3">
            <strong>Curs: </strong><span id="cursAlDel"></span><br><br>
          </div>
          <form role="form" method="post" action="" id="del_altres">
            <div>
              <p>Voleu esborrar aquesta actuació?</p>
              <p id="altresDataDel"></p>
              <p id="altresBodyDel"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default btn-sm" role="button" data-dismiss="modal">Cancel·la</a>
      <button type="submit" form="del_altres" id="altresDel" class="btn btn-danger btn-sm">Elimina coordinació</button>
    </div>
  </body>
</html>