<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Altres coordinacions</title>
    <script src="/javascripts/global.js"></script>
  </head>
  <body>
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      Altres coordinacions
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 clear">
            <strong>Alumne/a: </strong><span id="nomAl"></span>
          </div>
          <div class="form-group col-md-3">
            <strong>Curs: </strong><span id="cursAl"></span><br><br>
          </div>
<!--DATEPICKER-->
          <div class="col-md-3 clear" id="acDataGet">
            <label for="altresDataGet">Data</label>
              <div id="altresDataGet"></div>
            <br><br>
          </div>
<!-- BODY -->
          <div class="col-md-12 clear">
            <label for="altresBodyGet">Coordinació</label>
            <div id="altresBodyGet"></div>
          </div>
        </div>
      </div>
    </div>    
    <div class="modal-footer">
    <a class="btn btn-success btn-block" role="button" data-dismiss="modal">Tanca</a>
    </div>
  </body>
</html>