<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Control d'assistència</title>
  </head>

  <body>
    <div class="modal-header">
      <div class="modal-title">Control d'assistència</div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
    
          <form role="form" method="post" action="/assistPDF" target="_blank" id="assisDataD">

            <div class="col-md-12 clear">
            <strong>Alumne/a: </strong><div id="nomAl"></div>
              <input type="hidden" id="idAl" form="assisDataD" name="alumneId" value ="" >
            </div>

  <!--DATEPICKER-->
            <div class="form-group col-md-12">
            <div class="row">
            <p class="margetop col-md-12"><strong>Faltes d'assistència</strong></p>
              <div class="md-form col-md-6" id="data" style="clear:both;">
                <label class="active" for="alumneAssistU">Des del dia</label>
                <div class="input-group date alturabox" data-provide="datepicker">
                  <div class="input-group-addon"><i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control textcenter" id="today1" form="assisDataD" name="alumneAssistU">
                </div>
              </div>

              <div class="md-form col-md-6" id="dataP">
                <label class="active" for="alumneAssistD">Fins el dia</label>
                <div class="input-group date alturabox" data-provide="datepicker">

                  <div class="input-group-addon"><i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control textcenter" id="today2" form="assisDataD" name="alumneAssistD">
                </div>
              </div>
            </div></div>
          </form>
        </div>
      </div>
    </div>    
    <div class="modal-footer">
        <button type="submit" form="assisDataD" class="btn btn-success btn-block" id="assistBtn">Veure assistència</button>
    </div>
  </body>
</html>
