<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Informacions CAD</title>
    <script src="/javascripts/global.js"></script>
  </head>
  <body>
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      Informacions CAD
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-5 clear">
            <strong>Alumne/a: </strong><span id="nomCnAl"></span>
          </div>
          <div class="form-group col-md-3">
            <strong>Curs: </strong><span id="cursCnAl"></span><br><br>
          </div>
    
          <form role="form" method="post" id="info_CAD">

            <!--DATEPICKER-->
            <div class="col-md-3 clear" id="cadData">
              <label for="CnData">Data</label>
              <div class="input-group date" data-provide="datepicker">
                <input type="text" id="CnData" class="form-control" form="info_CAD">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
              </div>
              <br><br>
            </div>

            <div class="form-group col-md-12">
              <label for="CnBody">Actuació</label>
              <textarea class="form-control" rows="10" id="CnBody" form="info_CAD"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>    
    <div class="modal-footer">
        <button type="submit" form="info_CAD" class="btn btn-success btn-block" id="actuBtn">Desa</button>
    </div>
  </body>
</html>