
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Eliminar informació CAD</title>

  </head>

  <body>
    <div class="modal-header">
      <div class="modal-title">Eliminar informació CAD</div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="md-form col-md-5 clear">
            <strong>Alumne/a: </strong><span id="nomCdAl"></span>
          </div>
          <div class="md-form col-md-3">
            <strong>Curs: </strong><span id="cursCdAl"></span><br><br>
          </div>
          <form role="form" method="post" action="" id="del_CAD">
            <div class="md-form col-md-12 clear>
              <p class = "clear"><strong>Voleu esborrar aquesta informació CAD?</strong></p>
              <p class = "clear"><strong>Data </strong><p id="cadDataDel"></p></p>
              <p class = "clear"><strong>Informació CAD </strong><p id="cadBodyDel"></p></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default" role="button" data-dismiss="modal">Cancel·la</a>
      <button type="submit" form="del_CAD" id="cadDel" class="btn btn-danger">Elimina informació CAD</button>
    </div>
  </body>
</html>