
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Eliminar informació CAD</title>
    <script src="/javascripts/global.js"></script>
  </head>

  <body>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      Eliminar informació CAD
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 clear">
            <strong>Alumne/a: </strong><span id="nomCdAl"></span>
          </div>
          <div class="form-group col-md-3">
            <strong>Curs: </strong><span id="cursCdAl"></span><br><br>
          </div>
          <form role="form" method="post" action="" id="del_CAD">
            <div>
              <p>Voleu esborrar aquesta actuació?</p>
              <p id="cadDataDel"></p>
              <p id="cadBodyDel"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default btn-sm" role="button" data-dismiss="modal">Cancel·la</a>
      <button type="submit" form="del_CAD" id="cadDel" class="btn btn-danger btn-sm">Elimina informació CAD</button>
    </div>
  </body>
</html>