
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Eliminar dades</title>
  </head>

  <body>
    <div class="modal-header">
      <div class="modal-title">Eliminar dades</div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form role="form" method="post" id="del_alum">
        <div class="container">
          <div class="row">
            <p class = "clear"><strong>Les següents dades seran eliminades</strong><br></p>
              <div class="col-md-12 clear">
              <strong>Alumne/a: </strong><div id="nomAlDel"></div><br><br>
            <p class = "clear"><strong>Voleu continuar?</strong><br></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    <div class="modal-footer">
      <a class="btn btn-default" role="button" data-dismiss="modal">Cancel·la</a>
      <button type="submit" form="del_alum" id="alumDel" class="btn btn-danger">Elimina dades</button>
    </div>
  </body>
</html>