
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Afegir alumnes</title>

  </head>

  <body>

        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Nova escola</h4>
        </div>


        <div class="modal-body" style="padding:40px 50px;">
          <form id="formEscola" role="form" method="post" action="/escola_crear">

            <div class="form-group">
              <label for="nom_escola">Si us plau, empleneu els següents apartats</label>
              <input type="text" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="nom_escola" name="nom" placeholder="Nom escola" required="true">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="codi_escola" name="_id" placeholder="Codi escola" required="true">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <input type="password" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="password_escola" name="password" placeholder="Contrasenya" required="true">
              <div class="help-block with-errors"></div>
            </div>
              
            <div class="form-group">
              <input type="text" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="tel_escola" name="telefon" placeholder="Telèfon" required="true">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <input type="email" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="email_escola" name="email" placeholder="Correu electrònic" required="true">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="adreca_escola" name="adreca" placeholder="Adreça" required="true">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="cp_escola" name="codiPostal" placeholder="Codi postal" required="true">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="pob_escola" name="poblacio" placeholder="Població" required="true">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="prov_escola" name="provincia" placeholder="Província" required="true">
              <div class="help-block with-errors"></div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="formEscola" class="btn btn-success btn-block">Envia la informació</button>
        </div>
  </body>
</html>