
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Nous usuaris</title>
  </head>

  <body>
    <div class="modal-header">
      <div class="modal-title">Nous usuaris</div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form id="formUser" role="form">

        <div class="row">
          <div class="md-form col-md-6">
          <label for="nom_user">Nom</label>
            <input type="text" class="form-control" id="nom_user" name="nom" required="true">
          </div>

          <div class="md-form col-md-6">
            <label for="cognom_user">Cognom</label>
            <input type="text" class="form-control" id="cognom_user" name="cognom" required="true">
          </div>
        </div>

        <div class="row">
          <div class="md-form col-md-6">
            <label for="codi_esc_tutor">Codi escola</label>
            <input type="number" class="form-control" id="codi_esc_tutor" name="escola" required="true">
          </div>

          <div class="md-form col-md-6">
            <label for="nom_esc_tutor">Nom escola (sense "Escola")</label>
            <input type="text" class="form-control" id="nom_esc_tutor" name="escolanom" required="true">
          </div>
        </div>

        <div class="row">
          <div class="md-form col-md-12">
            <select class="form-control" id="curs_act" name="curs" required="true">
              <option value="">Seleccioneu curs</option>
              <option value="1r A">1r A</option>
              <option value="1r B">1r B</option>
              <option value="2n A">2n A</option>
              <option value="2n B">2n B</option>
              <option value="3r A">3r A</option>
              <option value="3r B">3r B</option>
              <option value="4t A">4t A</option>
              <option value="4t B">4t B</option>
              <option value="5è A">5è A</option>
              <option value="5è B">5è B</option>
              <option value="6è A">6è A</option>
              <option value="6è B">6è B</option>
            </select>
          </div>
        </div>

        <div class="row">
        <div class="md-form col-md-12">
          <label for="email_user">Correu electrònic</label>
          <input type="email" class="form-control" id="email_user" name="email" required="true">
        </div>

        <div class="md-form col-md-12" style="
    margin-bottom: 0px;">
          <label for="password_user">Contrasenya</label>
          <input type="password" class="form-control" id="password_user" name="password" placeholder="Contrasenya" required="true">
          <div class="md-form" style="
    margin-bottom: 0px;"><small>Per a accedir a l'aplicació sempre se us demanarà el vostre correu electrònic i la contrasenya.</small></div><br>
        </div></div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="formUser" class="btn btn-success btn-block">Envia la informació</button>
    </div>
  </body>
</html>