
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Afegir alumnes</title>

  </head>

  <body>

    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      Nou registre USEE
    </div>

    <div class="modal-body" style="padding:40px 50px;">
      <form id="formUsee" role="form" method="post" action="/usuari_ee_crear">
        <div class="form-group">
          <label for="email_user_usee">Empleneu els següents apartats</label><br>
          <input type="email" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="email_user_usee" name="email" placeholder="Correu electrònic" required="true">
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="nom_user_usee" name="nom" placeholder="Nom" required="true">
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="cognom_user_usee" name="cognom" placeholder="Cognom">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="codi_esc_usee" name="escola" placeholder="Codi escola" required="true">
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" data-error="Si us plau, empleneu aquest apartat" id="password_user_usee" name="password" placeholder="Contrasenya" required="true">
          <div class="help-block with-errors"></div>
        </div>
        
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="formUsee" class="btn btn-success btn-block">Envia la informació</button>
    </div>
  </body>
</html>