<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Modificar reuni贸</title>

  </head>
  <body>
    <div class="modal-header">
      <div class="modal-title">Modificar reuni贸</div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form role="form" method="post" id="reunions_pares_upd">
      <div class="container">
        <div class="row">
          <div class="col-md-6 clear">
            <strong>Alumne/a: </strong><span id="nomAlUpd"></span>
          </div>
          <div class="form-group col-md-2">
            <strong>Curs: </strong><span id="cursAlUpd"></span><br><br>
          </div>

          <div class="md-form col-12">

            

            <!--DATEPICKER-->
              <div class="md-form col-md-3 alturabox" id="rDataUpd">
                <label class="active" for="reuDataUpd">Data</label>
                <div class="input-group date" data-provide="datepicker">

                  <div class="input-group-addon"><i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" id="reuDataUpd" class="form-control" form="reunions_pares_upd">
                </div><br><br>
              </div>

              <div class="md-form col-md-4">
                <label for="reuConvUpd">Qui convoca la reuni贸?</label>
                <input type="text" class="form-control alturabox" id="reuConvUpd" required="true">
              </div>

              <div class="md-form col-md-4">
                <input type="text" class="form-control" id="reuAssistUpd" required="true">
                <label for="reuAssistUpd">Assistents</label>
              </div>

              <div class="md-form col-md-4">
                <input type="text" class="form-control" id="reuCompUpd" required="true">
                <label for="reuCompUpd">Composici贸 familiar</label>
              </div>

              <!-- BODY -->
              <div class="md-form col-12 alturabox" style="height:200px; margin-top: 20px;">
                <label class="active" for="actuBodyUpd">Temes tractats</label><br>
                <textarea class="form-control" style="height:100%;" id="actuBodyUpd" form="reunions_pares_upd"></textarea>
              </div>

              <div class="md-form col-12 clear" style="height:100px; margin-top: 40px;">
                <label class="active" for="reuConclUpd">Acords i conclusions</label><br>
                <textarea class="form-control" style="height:100%;" id="reuConclUpd" form="reunions_pares_upd"></textarea>
              </div>
            
          </div>
        </div>
      </div>
      </form>
    </div>    
    <div class="modal-footer">
      <button type="submit" form="reunions_pares_upd" class="btn btn-success btn-block" id="actuBtn">Actualitza</button>
    </div>
  </body>
</html>