<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Modificar entrevista</title>

  </head>
  <body>
    <div class="modal-header">
      <div class="modal-title">Modificar entrevista</div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form role="form" method="post" id="reunions_pares_upd">

        <div class="md-form col-12">
          <div class="row">
 <!--DATEPICKER-->
            <div class="md-form col-12">
              <div class="row">
                <div class="md-form col-md-3" id="rDataUpd">
                  <strong>Data de l'entrevista</strong>
                  <div class="input-group date" data-provide="datepicker">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" id="reuDataUpd" class="form-control" form="reunions_pares_upd">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <strong>Alumne/a: </strong><span id="nomAlUpd"></span>
            </div>
            <div class="form-group col-md-2">
              <strong>Curs: </strong><span id="cursAlUpd"></span><br><br>
            </div>
            <div class="md-form col-md-5">
              <strong>Mestre/a: </strong><span id="reuMestreUpd"></span>
            </div>


              <div class="md-form col-md-4">
                <label for="reuConvUpd">Qui convoca l'entrevista?</label>
                <input type="text" class="form-control alturabox" id="reuConvUpd" required="true">
              </div>

              <div class="md-form col-md-4">
                <input type="text" class="form-control" id="reuAssistUpd" required="true">
                <label for="reuAssistUpd">Assistents</label>
              </div>

              <div class="md-form col-md-4">
                <input type="text" class="form-control" id="reuCompUpd" required="true">
                <label for="reuCompUpd">Composició familiar</label>
              </div>

              <div class="md-form col-12 alturabox" style="height:200px; margin-top: 20px;">
                <label class="active" for="actuBodyUpd">Temes tractats</label><br>
                <textarea class="form-control" style="height:100%;" id="actuBodyUpd" form="reunions_pares_upd"></textarea>
              </div>

              <div class="md-form col-12 clear" style="height:100px; margin-top: 40px;">
                <label class="active" for="reuConclUpd">Acords i conclusions</label><br>
                <textarea class="form-control" style="height:100%;" id="reuConclUpd" form="reunions_pares_upd"></textarea>
              </div>

          </div>
        </div>
      </form>
    </div>    
    <div class="modal-footer">
      <div class="container">
        <span id="alertaDades" class="alerta hidDrop">
          Encara no heu desat els canvis. Realment voleu abandonar aquest quadre?
          <button class="btn btn-warning btn-block" id="modalDiscard">Abandonar</button>
        </span>
        <button type="submit" form="reunions_pares_upd" class="btn btn-success btn-block" id="actuBtn">Actualitza</button>
      </div>
    </div>
  </body>
</html>