<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Veure entrevista</title>

  </head>
  <body>
    <div class="modal-header">
      <div class="modal-title">Veure entrevista</div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body"" id="rGet">
      <div class="container">
        <div class="row">
          <div class="col-md-12 clear">
            <strong>Alumne/a </strong><div id="nomAeAl"></div>
          </div>
          <div class="form-group col-md-6">
            <strong>Curs </strong><div id="cursAeAl"></div>
          </div>

          <div class="col-md-6" id="rDataGet">
            <strong>Data de l'entrevista</strong>
              <div id="reuDataGet"></div>
          </div>

          <div class="md-form col-md-6">
            <strong>Mestre/a </strong>
            <div id="reuMestreGet"></div>
          </div>

          <div class="md-form col-md-6">
            <strong>Convocada per</strong>
            <div id="reuConvGet"></div>
          </div>

          <div class="md-form col-md-6">
            <strong>Assistents</strong>
            <div id="reuAssistGet"></div>
          </div>

          <div class="md-form col-md-6">
            <strong>Composició familiar</strong>
            <div id="reuCompoGet"></div>
          </div>
<!-- BODY -->
          <div class="col-md-12 clear">
            <strong>Temes tractats</strong>
            <div id="reuBodyGet"></div>
            <br>
          </div>

          <div class="col-md-12 clear">
            <strong>Acords i conclusions</strong>
            <div id="reuConclGet"></div>
          </div>
        </div>
      </div>
    </div>    
    <div class="modal-footer">
    <a class="btn btn-success btn-block" role="button" data-dismiss="modal">Tanca</a>
    </div>
  </body>
</html>